---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  
  
  {
    name: "All business",
    price: {
      monthly: "170etb",
      annual: "2040etb",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "Basic Inventory Tracking",
      "Low-Stock Alerts",
      "full report",
      
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
